*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;

}
.pannel{
    width:0px;
    height:50px;
    background-color:rgb(100, 100, 177);
    color:white;
    font-size: 2rem;
    text-align: center;
}
.showPannel{
    width:260px;
}
.row{
    display:flex;
}
.col{
    margin-top:2px;
    margin-right:2px;
    background-color: rgb(26, 26, 26);
    width:85px;
    height:85px;
    text-align: center;
    color:white;
    font-size:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:13px;
}